:root {
  /* colors */
  --background: #1d1f21;
  --foreground: #c9cacc;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}

.clock {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  display: block;
  margin-top: 22%;
  text-align: center;
  letter-spacing: 0.05rem;
}


.search-input {
  width: 98%;
  margin-bottom: 20px;

}

textarea {
  font-family: 'Ubuntu', sans-serif;
  width: 98%;
  overflow: hidden;
  margin-top: 24%;
  text-align: center;
  display: none;
  resize: none;
  font-size: 50px;
  background: transparent;
  color: inherit;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
